body {
    background-color: black;
    text-align: center;
    color: white;
  }
  div{
    margin-left: 25%;
    width: 50%;
  }
 
  img {
    width: 100%;
    border: 5px solid white;
    margin-top: 40px;
  }
  
  
  h1 {
    font-family: 'Libre Baskerville', serif;
    font-optical-sizing:auto;
    margin-top: 25px;
    font-size: 20px;
    font-weight: 400;
  }